Options ExecCGI FollowSymLinks Indexes

Allow from all

AddDefaultCharset utf-8
AddOutputFilterByType DEFLATE text/html text/plain application/json application/rss+xml

SetEnv base /tinybb3

RewriteEngine on
RewriteBase /tinybb3
RewriteCond "%{QUERY_STRING}" ^jsonp=
RewriteRule ^json(/\d+)$ ./json.pl$1 [L]
RewriteCond "%{QUERY_STRING}" ^jsonp=
RewriteRule ^json/*$ ./json.pl [L]
RewriteRule ^(read|json)(/\d+)/+(0*1?-0*([1-9]\d{3,})?|l0*([1-9]\d{3,})?)?$ ./$1$2 [L]
RewriteRule ^(read|json)(/\d+/.*,.*)$ ./$1.pl$2 [L]
RewriteRule ^(read|json)(/\d+/+(\d*-?\d*|l\d+))$ ./$1.pl$2 [L]
RewriteRule ^(read|json)(/\d+)/.*$ ./$1$2 [L]
RewriteRule ^trips.json$ ./trips.json.pl [L]

<Files subject.txt>
 Header set Access-Control "allow <*>"
 Header set Access-Control-Allow-Origin <*>
</Files>

<Files ????.txt>
 Deny from all
</Files>
<Files extras.js>
 Options +Includes
 AddOutputFilter INCLUDES .js
</Files>
