Options ExecCGI FollowSymLinks Indexes

Allow from all

Header always set Content-Security-Policy "block-all-mixed-content; default-src 'self'; script-src 'self' 'unsafe-inline'"
Header always set X-Content-Security-Policy "block-all-mixed-content; default-src 'self'; script-src 'self' 'unsafe-inline'"
Header always set X-WebKit-CSP "block-all-mixed-content; default-src 'self'; script-src 'self' 'unsafe-inline'"

AddDefaultCharset utf-8
AddOutputFilterByType DEFLATE text/html text/plain application/json application/rss+xml

SetEnv base /tinybb3

RewriteEngine on
RewriteBase /tinybb3
RewriteCond "%{QUERY_STRING}" ^jsonp=
RewriteRule ^json(/\d+)$ ./json.pl$1 [L]
RewriteCond "%{QUERY_STRING}" ^jsonp=
RewriteRule ^json/*$ ./json.pl [L]
RewriteRule ^(read|json)(/\d+)/+(0*1?-0*([1-9]\d{3,})?|l0*([1-9]\d{3,})?)?$ ./$1$2 [L]
RewriteRule ^(read|json)(/\d+/.*,.*)$ ./$1.pl$2 [L]
RewriteRule ^(read|json)(/\d+/+(\d*-?\d*|l\d+))$ ./$1.pl$2 [L]
RewriteRule ^(read|json)(/\d+)/.*$ ./$1$2 [L]

<Files subject.txt>
 Header set Access-Control "allow <*>"
 Header set Access-Control-Allow-Origin <*>
</Files>

<Files ba.png>
 ExpiresActive On
 ExpiresDefault "access plus 1 week"
</Files>

<FilesMatch "\.(cs|j)s$">
 ExpiresActive On
 ExpiresDefault "access plus 1 week"
 Header always set Vary "Accept-Encoding"
</Files>

<Files ????.txt>
 Deny from all
</Files>

<FilesMatch "^extras(\.min)?\.js$">
 Options +Includes
 AddOutputFilter INCLUDES .js
</Files>
