body { background-color: mistyrose; }

#header { border: 1px solid midnightblue; border-radius: 0.5em; padding-left: 0.5em; padding-right: 0.5em; position: fixed; right: 0.5em; background-color: powderblue; }

.posts { margin-left: 5em; }

.post { border-radius: 0.5em; margin: 0.5em; padding-left: 0.5em; padding-right: 0.5em; background-color: gainsboro; }

#threads { border: 1px solid forestgreen; border-radius: 1em; overflow: hidden; }

.thread { padding: 0.5em; background-color: lightgreen; }

.thread:nth-child(odd) { background-color: honeydew; }

.title { display: block; width: 100%; cursor: pointer; }

.num { font-weight: bold; }

.name { color: green; font-size: xx-small; }
