body.mainpage, body.subback
{ background: #ba9 url('ba.png') fixed;
  background-image: none, url('ba.svgz'), url('ba.png'); }
div.thread_list, div.thread, div#threadform, table
{ border: 4px double black;
  padding: 0.5em;
  margin: 0.5em; }
.threadlinks { text-align: right; }
.thread_list, #threadform, table { background: #cfc; }
.thread_list * li { display: inline; counter-increment: threads; padding-right: 1em; }
.thread_list * li:before { content: counter(threads) ". "; }
.thread { background: #eee; }
.thread_head a { color: red; }
.thread_head { font-size: large; }
.post_head { font-size: small; }
.trip { color: green; }
.comment { padding-left: 2em; }
.post { margin: 1em; }
th, td { border: 1px solid black; }
textarea
{ height: 10em;
  width: 40em; } 
.quote { color: #060; }

// stuff for sexpcode:
.spoiler { background: #000; color: #000; }
.spoiler:hover { color: #fff; }
@font-face
{ font-family: IPAMonaPGothic2;
  src: url('ipagp-mona.ttf') format(truetype); }
.aa
{ text-align: left;
  font-family: IPAMonaPGothic, Mona, 'MS PGothic',
               YOzFontAA97, IPAMonaPGothic2 !important; }
.o{ text-decoration: overline; }
.s{ text-decoration: line-through; }
